body{
    margin: 0;
    padding: 0;
    color: white;
}
header{
    margin: 0;
    background: linear-gradient(to right, #010c20, #053386);
    padding: 0.1em 0;
}
body main{
    display: flex;
}
body main aside{
    width: 20%;
}

body main aside hr{
    margin: 0;
    border: 1px solid white;
}

body main aside{
    background: linear-gradient(to bottom right, #010c20, #053386);
}
body main aside .profil{
    display: flex;
    align-items: center;
}



body main aside .profil .circle{
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50%;
  margin: 3% 5%;
}

body main aside .jadwal{
    display: flex;
    padding-left: 5%;
}

body main aside .jadwal p{
    font-size: 1.2em;
}

body main aside .jadwal i{
    padding-left: 20px;
    font-size: 0.8em;
}

body main aside .Inventaris{
    display: flex;
    padding-left: 5%;
}

body main aside .Inventaris .dropdown {
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    padding-top: 0.5em;
}

body main aside .Inventaris .dropdown-content {
    display: none;

    font-size: 0.8em;
    z-index: 1;
}

body main aside .Inventaris .text{
    display: flex;
    flex-direction: row;

    align-items: center;

}

body main aside .Inventaris .show {
    display: block;
}

body main aside .Inventaris i{
    padding-left: 20px;
    font-size: 0.8em;
}

body main section .card {
    background: linear-gradient(to bottom right, #010c20, #053386);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  body main section{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tiga kolom dengan lebar fleksibel */
    grid-template-rows: 140px 140px; /* Baris pertama dan ketiga mengikuti konten, baris kedua setinggi 200px */
    gap: 5%;
    margin: 2% 3% 0 3%;
  }

  body main section img{
    width: 100px;
    height: 100px;
  }

  body main section .grup{
    display: flex;
    flex-direction: column;
  }

  body main section .grup span{
    font-size: 2em;
    font-weight: bold;
  }





