body {
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main .pilihan-pelajaran {
    background: linear-gradient(to right, #3a3939, #000000, #2f2e2e);
    color: white;
    padding: 5vw 10vw;
}

main .pilihan-pelajaran h2 {
    margin: 0 0 25px 0;
    font-size: 3vw;
}

main .pilihan-pelajaran ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

main .pilihan-pelajaran ul li img {
    width: 170px;
    height: auto;
    padding: 10px;
    border-radius: 16px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main .pilihan-pelajaran ul li img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

main .pilihan-pelajaran ul li {
    display: block;
    list-style-type: none;
    /* padding: 5px; */
}

main .pilihan-pelajaran ul li h3 {
    text-align: center;
    margin: 0;
    font-size: 3vw;
    padding-top: 15px;
}

main .profil {
    background: linear-gradient(to right, #010c20, #053386);
    display: flex;
    color: white;
    padding: 30px 3vw 40px 3vw;
    align-items: center;
    width: 100%;
}

main .profil .deskripsi h2 {
    margin: 0;
}

main .profil .deskripsi {
    padding-right: 40px;
    font-size: 21px;
}

main .profil .video {
    display: none;
}

main .profil iframe {
    height: 32vw;
    width: 105vw;
    border-radius: 1.6vw;
}

.slideshow-container2 {
    display: flex;
    position: relative;
    margin: 2vw;
}

.slideshow-container2 .mySlides2 {
    background-color: white;
    box-shadow: 0px 0px 1vw 1px rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    padding: 1vw;
}

.mySlides2 {
    display: flex;
    position: relative;
    /* animation-name: fade; */
    /* animation-duration: 6s; */
    /* transition: transform 0.5s ease; */
}
/* .mySlides2:hover{
    transform: translateX(100%);
} */
.mySlides2.nextpage {
    animation-name: animation1;
    animation-duration: 0.5s;
}

.mySlides2.prevpage {
    animation-name: animation2;
    animation-duration: 0.5s;
}

@keyframes animation1 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animation2 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.Tenaga-Laboratorium h2 {
    margin: 0;
    text-align: center;
    padding-top: 4vw;
}

.Tenaga-Laboratorium .detail h3,
.Tenaga-Laboratorium .detail h4 {
    margin: 0;
    text-align: center;
    font-size: 2vw;
}

.Tenaga-Laboratorium .detail h4,
.Tenaga-Laboratorium .detail h5 {
    margin: 0;
    text-align: center;
    font-weight: normal;
}

.Tenaga-Laboratorium .detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tenaga-Laboratorium .detail .next,
.Tenaga-Laboratorium .detail .prev {
    background: linear-gradient(to right, #053386, #010c20);
    border-radius: 999px;
}

.Tenaga-Laboratorium img {
    height: auto;
    width: 20vw;
}

.Galeri-Laboratorium {
    background: linear-gradient(to right, #000000, #2f2e2e);
    color: white;
    padding: 3vw 10vw;
}

.Galeri-Laboratorium h2 {
    padding: 10px 0 30px 0;
    text-align: center;
    color: #ffffff;
}

.container-galeri-lab {
    display: flex;
    flex-direction: column;
}

/* .carousel-inner .carousel-item img {
    object-fit: cover;
    height: 100%;
} */

.isi-lab {
    width: 100%;
    margin-bottom: 2vw;
    display: flex;
}
.isi-lab .slidegambar {
    width: 85%;
    border-radius: 1vw;
}

.isi-lab .penjelasan-galeri-lab-posisi1 {
    display: none;
    padding: 1vw;
    border-radius: 1vw;
}

/* .isi-lab img {
   width: 85%;
   border-radius: 10px;
} */

.penjelasan-galeri-lab,
.isi-lab .penjelasan-galeri-lab-posisi2 {
    background-color: none;
    padding: 1vw;
    border-radius: 1vw;
    width: 20%;
}

.penjelasan-galeri-lab h3,
.penjelasan-galeri-lab p {
    color: white;
}

.container-peraturan {
    width: 60%;
}

main .peraturan .isi-peraturan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.peraturan {
    background: linear-gradient(to right, #010c20, #053386);
    display: flex;
    color: white;
    padding: 3vw;
    align-items: center;
    justify-content: center; /* Tambahkan ini untuk memusatkan konten */
    flex-direction: column; /* Tambahkan ini untuk menata konten secara vertikal */
}

.peraturan h2 {
    text-align: center;
    color: #ffffff;
    width: 100%; /* Tambahkan ini agar teks berada di tengah */
}

.peraturan .isi-peraturan ul li {
    font-size: 1.6vw; /* Ubah angka ini sesuai dengan ukuran yang Anda inginkan */
}

/* .struktur-organisasi{
    margin: auto;
    display: flex;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    flex-direction: column;
} */

/* .struktur-organisasi h2{
    text-align: center;
    color: black;
    width: 100%;
} */

/* .struktur-organisasi .gambar-struktur{
    width: auto;
    height: auto;
} */

/* .struktur-organisasi img{
    width: 50%;
    height: 130%;
} */

/* .carousel-item img {
    width: 85%;
    height: auto;
    border-radius: 10px;
} */

.struktur-organisasi h2 {
    font-size: 2.8vw;
    font-weight: bold;
    padding: 2vw 0;
}

.struktur-organisasi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.struktur-organisasi .baris1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.struktur-organisasi .baris2 {
    width: 100%;
    height: 26vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.struktur-organisasi .baris3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.struktur-organisasi .box1 {
    width: 20vw;
    height: auto;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to right, #010c20, #053386);
    position: relative;
    color: white;
    font-size: 1vw;
    border-radius: 1.6vw;
}

.struktur-organisasi .box1 .line {
    border-top: 0.1vw solid white;
    width: 80%;
    position: absolute;
    left: 10%;
    transform: translateY(-50%);
}

.struktur-organisasi p,
.struktur-organisasi h5 {
    font-size: 1.5vw;
}

.struktur-organisasi h5 {
    padding-bottom: 2vw;
}

.struktur-organisasi p {
    font-weight: bold;
}

.struktur-organisasi .box1 img {
    width: 20vw;
    max-height: 35vh;
    object-fit: cover;
    border-top-left-radius: 1.6vw;
    border-top-right-radius: 1.6vw;
    /* border-radius: 16px; */
}

.struktur-organisasi .baris1 .line1 {
    border-left: 0.1vw solid black;
    border-right: 0.1vw dashed black;
    width: 12%;
    height: 10vw;
}

.struktur-organisasi .baris2 .line2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 12%;
}

.struktur-organisasi .baris2 .line2 .subline1 {
    border-left: 0.1vw solid black;
    border-right: 0.1vw dashed black;
    border-bottom: 0.1vw solid black;
    height: 100%;
    width: 100%;
}

.struktur-organisasi .baris2 .line2 .subline2 {
    border-left: 0.1vw solid black;
    border-right: 0.1vw dashed black;

    height: 100%;
    width: 100%;
}
.struktur-organisasi .baris2 .line3 {
    border-bottom: 0.1vw solid black;
    width: 5%;
}

.struktur-organisasi .baris3 .line4 {
    border-left: 0.1vw solid black;
    border-right: 0.1vw dashed black;
    width: 12%;
    height: 15vw;
}

.struktur-organisasi .baris3 .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.struktur-organisasi .baris3 .arrow {
    display: flex;
    width: 100%;
}

.struktur-organisasi .baris3 .arrow .fas {
    position: relative;
    top: -0.8px;
    padding: 0 5.4%;
    font-size: 1.2vw;
}

.struktur-organisasi .kontainer-struktur1 {
    width: 85vw;
    height: 30vw;
    background: linear-gradient(to right, #010c20, #053386);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 3vw;
    position: relative;
    top: -0.8px;
}

.struktur-organisasi .baris3 .line5 {
    border-left: 0.1vw solid black;
    height: 10vw;
    position: relative;
    top: -0.8vw;
}

.struktur-organisasi .baris3 .config {
    position: relative;
    top: -2vw;
    font-size: 1.2vw;
}

.struktur-organisasi .kontainer-struktur2 {
    width: 85vw;
    height: 30vw;
    background: linear-gradient(to right, #010c20, #053386);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 3vw;
    position: relative;
    top: -1.8vw;
}

.struktur-organisasi .ketorgChart {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5vw 0 10vw 15vw;
}
.struktur-organisasi .ketorgChart .satu i {
    font-size: 1vw;
    display: inline-block;
}

.struktur-organisasi .ketorgChart .satu {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 2vw;
}

.struktur-organisasi .ketorgChart .satu p {
    text-align: center;
    padding-left: 2vw;
    bottom: -0.5vw;
    margin: 0;
}

.struktur-organisasi .ketorgChart .satu .garis1 {
    border-top: 0.1vw solid black;
    width: 20vw;
}

.struktur-organisasi .ketorgChart .satu .garis2 {
    border-top: 0.1vw dashed black;
    width: 20vw;
}
body.sidebar-open {
    overflow: hidden;
}

body header .keterangan .highlight a{
    color: white;
}

@media screen and (max-width: 900px) {
    .Tenaga-Laboratorium img {
        height: auto;
        width: 80vw;
    }
}
@media screen and (max-width: 1300px) {
    .Tenaga-Laboratorium img {
        height: auto;
        width: 30vw;
    }
    .Tenaga-Laboratorium .detail h3,
    .Tenaga-Laboratorium .detail h4,
    .Tenaga-Laboratorium .detail h5 {
        font-size: 3vw;
    }
}
@media screen and (max-width: 800px) {
    main .pilihan-pelajaran ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    main .pilihan-pelajaran ul li img {
        width: 40vw;
        height: auto;
        padding: 1vw;
    }
    main .profil {
        display: block;
    }

    main .profil iframe {
        display: flex;
        height: auto;
        width: 80%;
        padding: 1vw 0 1vw 20%;
    }

    .isi-lab {
        display: block;
    }

    .isi-lab .slidegambar {
        width: 100%;
    }

    .penjelasan-galeri-lab {
        width: 100%;
        text-align: left;
    }

    .isi-lab .penjelasan-galeri-lab-posisi2 {
        display: none;
    }

    .isi-lab .penjelasan-galeri-lab-posisi1 {
        display: block;
    }
    main .profil .deskripsi h2 {
        text-align: center;
        padding-bottom: 3vh;
    }
    main .profil .deskripsi {
        padding: 0;
    }
    main .pilihan-pelajaran h2 {
        font-size: 4vw;
    }
    main .pilihan-pelajaran ul li h3 {
        padding-top: 0;
        padding-bottom: 1vh;
        font-size: 4vw;
    }
    .container-peraturan {
        width: 80%;
    }
}
