.Tenaga-Laboratorium .slideshow-container2 .mySlides2{
    margin-right: 2vw;
    margin-left: 2vw;
    height: 50vh;
}
.Tenaga-Laboratorium .slideshow-container2 .mySlides2 img{
    height: 35vh;
    margin-bottom: 2vh;
}
