body{
    margin: 0;
}

.profil-login{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 100vh;
    width: 60vw;
}

.profil-login::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../image/Subtract.jpg");
    background-size: cover;
    opacity: 0.8;
    background-position: center; /* Tambahkan ini */
    z-index: -1;
}

.profil-login::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: blue;
    opacity: 0.2;
    z-index: -1;
}

.profil-login h1{
    margin-top: -20px;
    width: 50%;
}

body-login{
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

.login-container {
    background-color: white;
    align-items: center;
    padding: 4vw;
    width: 20vw;
    margin: 10vw;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.login-container input[type=text], .login-container input[type=password] {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    background-color: transparent;
}

.login-container input[type=text]:focus, .login-container input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.login-container label[for="uname"], .login-container label[for="psw"] {
    font-size: 12px;
    font-weight:500;
}

.login-container input[type=text]:-webkit-autofill,
.login-container input[type=text]:-webkit-autofill:hover,
.login-container input[type=text]:-webkit-autofill:focus,
.login-container input[type=text]:-webkit-autofill:active,
.login-container input[type=password]:-webkit-autofill,
.login-container input[type=password]:-webkit-autofill:hover,
.login-container input[type=password]:-webkit-autofill:focus,
.login-container input[type=password]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.login-container button {
    background: linear-gradient(to right, #053386, #010C20);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 21px;
    width: 100%;
    border-radius: 999px;
    margin-top: 40px;
}

main-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.judul-form-login h2, .judul-form-login p{
    text-align: center;
    line-height: 0.5;
}

.judul-form-login h2{
    font-size: 21px;
    font-weight: bold;
}

.judul-form-login p{
    font-size: 12px;
    font-weight: 500;
}

.judul-form-login{
    margin-bottom: 30px;
}

@media screen and (max-width: 1100px){
    main-login{
        flex-direction: column;
    }
    .profil-login{
        width: 100%;
        height: 100vh;
    }
    .login-container{
        width: 60%;
    }

    .judul-form-login h2{
        font-size: 3.3vw;

    }

    .judul-form-login p{
        font-size: 1.5vw;

    }

    .judul-form-login{
        margin-bottom: 3vw;
    }
    .login-container label[for="uname"], .login-container label[for="psw"] {
        font-size: 2.2vw;
        font-weight:500;
    }
    .login-container button {

        font-size: 2.1vw;

        margin-top: 4vw;
    }
    .halamanLogin{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}
