body main .bagian_page {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 3% 4% 5% 4%;
}

body main .bagian_page .table_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body main .bagian_page .table_header h3 {
    color: #023d97;
}

body main .bagian_page .table_header button {
    background-color: #023d97;
}
body main .bagian_page .table_header #exportButton {
    background-color: green;
}

body main .bagian_page .table_header table thead tr th {
    text-align: center;
}

.dt-length {
    display: none;
}

body main .bagian_page tbody .button-container {
    display: flex; /* Enable flexbox layout for buttons */
    justify-content: space-between; /* Distribute buttons evenly across the row */
}

body main .bagian_page tbody .button-container button {
    margin: 0 2px;
    padding: 6px 4px;
    border-radius: 8px;
}

.modal-dialog{
    color: black;
}

body main .modal-dialog .modal-content .modal-header .btn-secondary{
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
}

body main .modal-dialog .modal-content .modal-header .btn-primary{
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

body main .modal-dialog .modal-content .modal-body .input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

body main .modal-dialog .modal-content .modal-body img{
    width: 40%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 0 1% 0 0;
}

body main .modal-dialog .modal-content .modal-body .foto .custom-file-upload{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #03378a; /* Warna background */
    color: white; /* Warna teks */
    border: none; /* Menghilangkan border */
}

body main .modal-dialog .modal-content .modal-body .input input {
    display: none;
}

body main .modal-dialog .modal-content .modal-body .form-group label,
body main .modal-dialog .modal-content .modal-body figcaption{
    font-weight: bold;
    margin-bottom: 5px;
}

