main .pilihan-kelas {
    background: linear-gradient(to right, #3a3939, #000000, #2f2e2e);
    color: white;
}

main .pilihan-kelas h2 {
    font-weight: bold;
    font-size: 3vw;
    padding: 1vw 0 2vw 3vw;
}

main .pilihan-kelas ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-bottom: 2vw;
}

main .pilihan-kelas ul li img {
    width: 20vw;
    height: 20vw;
    padding: 10px;
    border-radius: 16px;
    background-color: white;
}

main .pilihan-kelas ul li img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

main .pilihan-kelas ul li {
    list-style-type: none;
    padding: 5px;
}

main .pilihan-kelas ul li h3 {
    text-align: center;
    margin: 0;
    font-size: 5vw;
    padding-top: 15px;
}

.materi-pembelajaran h2 {
    margin: 0;
    text-align: left; /* Changed from left to center */
    padding-left: 75px;
    padding-top: 40px;
    font-weight: bold;
}

.materi-pembelajaran .detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* .materi-pembelajaran img {
    width: 30%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin: auto;
    box-shadow: 12px 8px 8px rgba(0,0,0,0.2);
} */

.materi-pembelajaran .detail h3,
.materi-pembelajaran .detail h4,
.materi-pembelajaran .detail h5 {
    margin-bottom: 10px;
}

.materi-pembelajaran .detail figcaption {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
}

.materi-pembelajaran .detail div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.materi-pembelajaran .detail a {
    text-decoration: none;
}

/* .pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination a {
    color: blue;
    font-weight: bold;
    font-size: 25px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
} */

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.add-button {
    text-align: center;
    margin-right: 5%;
    background-color: #054488;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
}



main .tambah-jadwal{
    margin: 4vh 2vw 5vh 2vw;
  }
  
main .jadwal{
    margin: 4vh 2vw 5vh 2vw;
    color: black;
    display: flex;
    flex-direction: row;
  }

main .jadwal p{
    font-weight: bold;
    color: black;
  }

main .jadwal h5{
    font-weight: bold;

}

main .jadwal .div-calendar{
    margin-right: 5vh;
  }

main  .jadwal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #0b0b0b;
}
.jadwal-table th, .jadwal-table td {
    border: 1px solid #0b0b0b;
    padding: 8px;
    text-align: left;
}
.jadwal-table th {
    color: white;
    background-color: #053386;
}
.jadwal-table tr.filled {
    color: white;
    background-color: #1d458f;
}

.caleandar {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.caleandar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.caleandar .header .title {
  font-size: 1.5em;
  font-weight: bold;
}

.caleandar .days {
  display: flex;
  flex-wrap: wrap;
}

.caleandar .day {
  width: 14.2857%; /* 100% / 7 days */
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid #eee;
  cursor: pointer;
}

.caleandar .day.name {
  background-color: #f2f2f2;
  cursor: default;
}

.caleandar .day.empty {
  background-color: #fff;
  cursor: default;
}

.caleandar .day.today {
    background-color: #d4edda;
}

.caleandar .day.selected {
    background-color: #cce5ff;
}

.caleandar .prev,
.caleandar .next {
  cursor: pointer;
  font-size: 1.5em;
}

.modal-body .form-group{
    padding-bottom: 1vh;
}
.modal-body .form-group ul{
    list-style-type: none;
  padding-left: 0; /* Remove margins */
  padding-right: 2vh; /* Remove margins */
}

.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-header .btn-secondary{
    margin-right: 1vw;
}


@media screen and (max-width: 900px) {
    main .pilihan-kelas h2 {
        padding-top: 2vw;
        font-size: 5vw;
    }
    main .pilihan-kelas ul {
        display: flex;
        flex-direction: column;
    }
    main .pilihan-kelas ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main .pilihan-kelas ul li img {
        width: 40vw;
        height: auto;
    }
    main .pilihan-kelas ul li h3 {
        font-size: 7vw;
        padding-top: 0;
        padding-bottom: 3vw;
    }

     main .jadwal{
        display: flex;
        flex-direction: column;
    }

    main .jadwal .div-calendar{
        padding-bottom: 3vw;
    }
}