main .materi-pembelajaran .header .modal-dialog .modal-header{
    display: flex;
}

main .materi-pembelajaran .header .modal-dialog .modal-header .btn-secondary{
    margin-left: auto;
    border-radius: 0;
    background-color: white;
    border: 1px solid #03378A;
    color: #03378A;
}

main .materi-pembelajaran .header .modal-dialog .modal-header .btn-primary{
    margin-left: 1%;
    border-radius: 0;
}

main .materi-pembelajaran .header .modal-dialog .modal-body .form-group{
    display: block;
}
main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .thumbnail{
    display: block;
}
main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .thumbnail .input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .thumbnail img{
    width: 40%;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    height: auto;
    margin: 0 1% 0 0;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #03378A; /* Warna background */
    color: white; /* Warna teks */
    border: none; /* Menghilangkan border */
}

.custom-file-upload:hover {
    background-color: #03378A; /* Warna background saat di-hover */
}

main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .thumbnail input{
    display: none;
}

main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .thumbnail{
    font-size: 0.76vw;
}
main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .thumbnail #html-preview{
    width: 40%;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);

    margin: 0 1% 0 0;
}
main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .thumbnail #html-preview img{
    width: 100%;
}

main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .gabung-input-text{
    display: flex;
    align-items: center;
    position: relative;
}
main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .gabung-input-text small{
    position: absolute;
    right: 2%;

}
main .materi-pembelajaran .header .modal-dialog .modal-body .form-group .gabung-input-text input{
    width: 100%;
}

/* Modal */
.modal {
    display: none; /* Modal awalnya tersembunyi */
    position: fixed; /* Tetap berada di atas */
    z-index: 1; /* Berada di atas semua konten lain */
    padding-top: 100px; /* Lokasi modal */
    left: 0;
    top: 0;
    width: 100%; /* Lebar penuh */
    height: 100%; /* Tinggi penuh */
    overflow: auto; /* Memungkinkan scroll jika diperlukan */
    background-color: rgb(0,0,0); /* Warna latar belakang */
    background-color: rgba(0,0,0,0.4); /* Warna latar belakang dengan sedikit transparansi */
  }

  /* Konten Modal */
  /* .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  } */

  /* Tombol Tutup */
  /* .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } */

