
body{
    margin: 0;
    padding: 0;
    color: white;
}
header{
    margin: 0;
    background: linear-gradient(to right, #010c20, #053386);
    padding: 0.1em 0;
}
header h2{
    font-size: 2rem !important;
    margin: 0.7rem 0 0.7rem 0.5rem;
}
body main{
    display: flex;
}
body main aside{
    width: 20%;
    height: 120vh;
}

body main aside a{
    text-decoration: none;
    color: white;
}

body main aside a:hover{
    text-decoration: none;
    color: white;
}

body main aside hr{
    margin: 0;
    border: 1px solid white;
}

body main aside{
    background: linear-gradient(to bottom right, #010c20, #053386);
}
body main aside .profil{
    display: flex;
    align-items: center;
}

header.navbar-container .nav-list ul {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 1.5rem 0.5rem;
    padding-top: 10px;
    justify-content: space-between;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    display: flex;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all 0.2s ease-in-out;
}

body main aside .profil .circle{
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50%;
  margin: 3% 5%;
}

body main aside .profil p{
    margin-bottom: 0;
}

body main aside .jadwal{
    display: flex;
    padding-left: 5%;
}

body main aside .jadwal p{
    font-size: 1.2em;
}

body main aside .jadwal i{
    padding-left: 20px;
    font-size: 0.8em;
}

body main aside .Inventaris{
    display: flex;
    padding-left: 5%;
    padding-bottom: 5%;
}       

body main aside .Inventaris .dropdown {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    padding-top: 0.5em;
}

body main aside .Inventaris .dropdown-content {
    display: none;

    font-size: 0.8em;
    z-index: 1;
}

body main aside .Inventaris .text{
    display: flex;
    flex-direction: row;

    align-items: center;

}

body main aside .Inventaris .show {
    display: block;
}

body main aside .Inventaris p{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

body main aside .Inventaris i{
    padding-left: 20px;
    font-size: 0.8em;
}

